<br/><br/><br/><br/><br/>
<div style="width: 100%; margin-left: 40px; text-align: center;">
  <div style="float: left; width: 30%;margin-right: 15px;">
    <%= link_to "Search by location", search_by_location_searches_path, :class => "btn btn-success btn-search" %> <br/> <br/>
  </div>
  <div style="float: left;width: 30%;margin-right: 15px;">
    <%= link_to "Search by Dates", search_by_dates_searches_path, :class => "btn btn-success btn-search"  %> <br/> <br/>
  </div>
  <div style="float: left;width: 30%;margin-right: 15px;">
    <%= link_to "Search by Bilty No", search_by_bilty_no_searches_path, :class => "btn btn-success btn-search" %> <br/> <br/>
  </div>
</div>





