<div id="invoices_chart">

</div>

<script type="text/javascript" charset="utf-8">
  $(function() {
    new Highcharts.Chart({
      chart: {renderTo: 'invoices_chart'},
      title: {text: 'Invoices'},
      xAxis: {type: 'datetime'},
      yAxis: {
        title: {text: 'number of invoices'}
      },
      tooltip: {
        formatter: function() {
          return Highcharts.dateFormat("%B %e, %Y", this.x) + ':' + Highcharts.numberFormat(this.y, 2)
        }
      },
      series: [{
          pointInterval: <%= @pointInterval %>,
          pointStart: <%= @pointStart %>,
          data: <%= @data %>
        }]
    });
  });</script>

<script type="text/javascript">
  $(document).ready(function() {
    $('#from_date').datepicker({
    });
    $('#to_date').datepicker({
    });
  })
</script>